.container {
  display: flex;
  gap: 10px;
}

.single-input {
  background-color: #eef0f2;
  width: 52px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  &.valid {
    background-color: #1473ff14;
    color: #1473ff;
  }
  &.invalid {
    background-color: #eb424214;
    color: #eb4242;
  }
}
